{% load static %}
<div class="flex items-center gap-4 [&>a:hover]:underline">
    {% if comment.likes.count %}
    <div class="flex items-center gap-1">
               {% if user in comment.likes.all %}
               <i class="fa-solid fa-heart text-lg"></i>
               {% else %}
               <i class="fa-regular fa-heart text-lg"></i>
               {% endif %}
               {{ comment.likes.count }} 
           </div>
           {% endif %}
           {% if user.is_authenticated and user != comment.author %}
           <a hx-get="{% url  'like-comment' comment.id %}"
           hx-target="closest div"
           hx-swap="outerHMTL"
           class="cursor-pointer"
           >
               {% if user in comment.likes.all  %}
               <b>Liked</b>
                {% else %}
                Like
                {% endif %}
           </a> 
        {% endif %}
</div>
